<aside>
   <ul class="menu">
    
        <img src="" alt="">
        <li class="services">
            <a href="#">Dashboard</a>
        </li>
        <li class="services">
            <a href="#" >Courses</a>
        </li>
        <li class="services" >
            <a href="#">Teachers</a>
        </li>
        <li class="services">
            <a href="#">Students</a>
        </li>
        <li class="services">
            <a href="#">Materials</a>
        </li>
        <li class="services"></li>
   </ul>
</aside>