<h2>Tambah Teacher</h2>

<form action="/teachers" method="POST">
    <input type="text" name="name" placeholder="Nama" required>
    <input type="email" name="email" placeholder="Email" required>
    <button type="submit">Simpan</button>
</form>