<% layout('../views/layouts/mainLayout') %>
<link rel="stylesheet" href="/css/formPageStyle.css">
<h2>Tambah Teacher</h2>

<div class="formContainer">
    
<form action="/teachers" method="POST">
    <input type="text" name="name" placeholder="Nama" required>
    <input type="text" name="phone" placeholder="Nomor telepon" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="specialization" placeholder="Spesialisasi" required>
    <button type="submit">Simpan</button>
</form>

</div>