<h2>Detail Teacher</h2>

<p>Nama: <%= teacher.name %></p>
<p>Nomor telepon: <%= teacher.phone %></p>
<p>Email: <%= teacher.email %></p>
<p>Spesialisasi: <%= teacher.specialization %></p>

<a href="/teachers">Kembali</a>